<html xmlns:th="http://www.thymeleaf.org">
        <nav th:fragment="pagination (pageQty, pageNbr, filters)">
            <ul class="pagination">
                <li class="page-item" th:classappend="${pageNbr==0?'disabled':''}">
                    <a class="page-link"
                       th:href="@{${#request.getServletPath()} + '?pageNbr=' + ${pageNbr - 1}+ '&' + ${filters?:''}}">Prew</a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1,pageQty)}" }
                    th:classappend="${pageNbr==pageNum - 1 ? 'active':''}">
                    <a class="page-link"
                       th:href="@{${#request.getServletPath()} + '?pageNbr=' + ${pageNum - 1} + '&' +${filters?:''}}"
                       th:text="${pageNum}">Link</a>
                </li>
                <li class="page-item" th:classappend="${pageNbr >= pageQty - 1?'disabled':''}">
                    <a class="page-link"
                       th:href="@{${#request.getServletPath()} + '?pageNbr=' + ${pageNbr + 1} +'&'+ ${filters?:''}}"
                       th:attr="aria-disabled=${pageNbr >= pageQty - 1?true:false}">Next</a>
                </li>
            </ul>
        </nav>
</html>

