<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header.html::header(${title})"/>
    <body>
        <div class="container">
            <form th:object="${product}"
                  th:action="@{'/products/edit' + ${filters != null ? '/' + filters : ''}}"
                  th:method="POST"
            >
                <div class="mb-3">
                    <input type="number" class="form-control" id="prod_id"  th:field="*{id}" placeholder="Product name" hidden>
                </div>
                <div class="mb-3">
                    <label for="prod_title" class="form-label">Product title</label>
                    <input type="text" class="form-control" id="prod_title" th:field="*{title}" placeholder="Product name">
                </div>
                <div class="mb-3">
                    <label for="prod_price" class="form-label">Product price</label>
                    <input type="number" class="form-control" id="prod_price"  th:field="*{price}" placeholder="Product price">
                </div>
                <button type="submit" th:text="Сохранить">Отправить</button>
            </form>
        </div>
    </body>

</html>

