<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header.html::header(${title})"/>
    <body>
        <div class="container">
            <form class="row g-3" th:action="@{'/products/filters'}" method="GET">
                <div class="col-auto">
                    <input type="number" class="form-control-plaintext" th:name="minPrice" th:value="${param.get('minPrice')}" placeholder="Мин">
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control-plaintext" th:name="maxPrice" th:value="${param.maxPrice}" placeholder="Макс">
                </div>
                <div class="col-auto ">
                    <button type="submit" class="btn btn-primary mb-3" th:text="Применить">Применить</button>
                </div>
            </form>
            <span th:text="${'Количество страниц равно ' + #request.getAttribute('pageQty')}">Количество страниц</span>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="prod : ${products}">
                        <td th:text="${prod.id}">Mark</td>
                        <td th:text="${prod.title}">Otto</td>
                        <td th:text="${prod.price}">111</td>
                        <td>
                            <a class="btn btn-danger" th:href="@{${#request.getServletPath()} + '/del/'+ ${prod.id}}">Delete</a>
                            <a class="btn btn-primary" th:href="@{${#request.getServletPath()} + '/edit/'+ ${prod.id} + ${filters != null ?'/' + filters:''}}">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row g-3">
                <a class="list-group-item" th:href="@{/products/all}" th:text="Prev">Link</a>
                <a class="list-group-item" th:each="pageNum : ${#numbers.sequence(1,#request.getAttribute('pageQty'))}" th:href="@{${#request.getServletPath()} + ${'?pageNbr='} + ${pageNum - 1} + ${filters?:''}}" th:text="${pageNum}">Link</a>
                <a class="list-group-item" th:href="@{/products/all}" th:text="Next">Link</a>
            </div>

        </div>
    </body>

</html>

